@import "init";
@import "mixin";

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Noto+Sans+JP&family=Open+Sans+Condensed:wght@300&family=Playfair+Display&display=swap');

body{
    position: relative;
    overflow-x: hidden;
}

li{
    margin: .5rem;
}
i{
    font-size: 3rem;
}
img{
    width: 100%;
}
$font-jp1: 'M PLUS Rounded 1c', sans-serif;
$font-jp2: 'Noto Sans JP', sans-serif;
$font-en1: 'Open Sans Condensed', sans-serif;
$font-en2: 'Playfair Display', serif;

$clr-white: #fffffa;
$clr-black: #000103;
$clr-blue: #3E92CC;
$clr-alert: #D8315B;


@mixin teamItem{
    .team-item{
        width: 15rem;
        height: 20rem;
        margin: 2rem!important;
    }
    .item-img{
        width: 15rem;
        width: 15rem;
        clip-path: circle(50% at 50% 50%);
        object-fit: cover;
        background-color: rgba($clr-white, .5);
        img{
            width: 100%;
        }
    }
    .item-info{
        @include flexC;
        height: 5rem;
        font-size: 1.5rem;
    }
}


.displayNone{
    display: none;
}




#nav{
    margin: 0;
    top: 0;
    position:sticky;
    z-index: 10;
    font-family: $font-en2;

}





.main-box{
    @include flexC;
    min-height: 50vh;
    .box-title{
        font-family: $font-en2;
        h1{
            font-size: 3.5rem;
            margin: 3rem 0;
        }
    }
    .box-content{
        font-family: $font-jp2;
        font-size: 2rem;
        padding: .5rem 1rem;
    }
}
main,footer{
    background-color: $clr-black;
    color: $clr-white;
    overflow-x: hidden;

}








// ------------------- value


.value-box{

    ul{
        @include flexC;

    }
}



// ------------------- service

.service-box{

    .service-content{
        @include flexR;        
        justify-content: space-around;
        >div{
            @include flexC;   
            width: 300px;     
            justify-content: center;
            margin: .5rem;
        }
    }
    .service-item-img{
        height: 350px;
        overflow: hidden;
        object-fit: contain;
        img{
            width: 300px;
        }
    }

    .service-item-list ul{
        @include flexC;
        li{
            width: 300px;
            padding: 0 1rem;
            margin: .5rem 0;
            text-align: center;
            button, .serviceDetail{
                font-family: $font-jp2;
                width: 100%;
                text-align: left;
                background-color: transparent;
                margin-bottom: .5rem;
            }
            .serviceDetail{
	            -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	            animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

            }

        }

    }

}

// ------------------- team

.team-box{
    .team-item-list{
        @include flexR;
    }
    .team-item{
        @include teamItem;
        @include flexC;
        font-family: $font-en1;

    }
    ul{
        @include flexR;
        justify-content: center;
        li{
            margin: 1.5rem;
        }
    }

}


.location-content{
    @include flexR;
    justify-content: center;
    >div{
        margin: 3rem;
    }
    .location-map{
        width: 300px;
        height: 300px;
    }
    .location-info{
        max-width: 350px;
    }
    ul{
        @include flexR;
    }
}








// ------------------- contact

.contact-box{
    form{
        @include flexC;
        font-size: 2rem;
    }
    label, input, textarea{
        width: 300px;
        margin: .5rem 0;
        padding: 1rem;
    }
    label{
        font-family: $font-en1;
    }
    input{
        font-family: $font-jp1;
    }
    textarea, input{
        border-radius: 1rem;
        color: #000103;
    }


    input:focus{
        border-bottom: $clr-blue!important;
    }

    #submitBtn{
        width: 10rem;
        height: 5rem;
        color: $clr-white;
        background: transparent;
        border: 1px solid $clr-white;
    }

}
.confirmContainer{
    @include flexC;
    width: 300px;
    border-radius: 1rem;
    background-color: rgba($clr-white, .5);
    .confirmCotent{
        @include flexC;
        width: 100%;
    }


    #sendContent{
        width: 10rem;
        height: 5rem;
        background: transparent;
        font-size: 2rem;
        color: $clr-black;
    }
    .sendContentBtn{
        background-color: transparent;
         border-radius: 1rem;
         margin: 1rem;
        width: 10rem;
        height: 5rem;
        border: 1px solid $clr-black;
    }
}




footer{
    @include flexC;
    padding: 1.5rem 0;
    text-align: center;
    font-size: 2rem;
    font-family: $font-en2;
    ul{
        @include flexR;
        justify-content: center;
        li{
            margin: 1.5rem;
        }
    }
}




//--------------- service btn anime
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


//--------------- service btn anime
